:root {
  --cm-primary-source-1: #88C2C8;
  --cm-primary-source-2: #51979D;
  --cm-primary-source-3: #E6F1F2;
  --cm-primary-source-4: #286D73;
  --cm-primary-source-5: #0D4348;
  --cm-primary-source-6: #012F33;
  --cm-text-color-1: #364a63;
  --cm-text-color-2: #8094ae;
  --cm-text-color-3: #526484;
}