@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.4.2/uicons-brands/css/uicons-brands.css");
@import url("https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.4.2/uicons-thin-straight/css/uicons-thin-straight.css");
@import url("https://cdn-uicons.flaticon.com/2.4.2/uicons-solid-straight/css/uicons-solid-straight.css");
@import url("https://cdn-uicons.flaticon.com/2.4.2/uicons-bold-straight/css/uicons-bold-straight.css");
@import url("https://cdn-uicons.flaticon.com/2.4.2/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.4.2/uicons-bold-rounded/css/uicons-bold-rounded.css");
:root {
  --cm-primary-source-1: #88C2C8;
  --cm-primary-source-2: #51979D;
  --cm-primary-source-3: #E6F1F2;
  --cm-primary-source-4: #286D73;
  --cm-primary-source-5: #0D4348;
  --cm-primary-source-6: #012F33;
  --cm-text-color-1: #364a63;
  --cm-text-color-2: #8094ae;
  --cm-text-color-3: #526484;
}

/**
 * Icons
 */
.cm-section-carousel {
  width: 100%;
  height: 100%;
  margin-bottom: 2.5rem;
}
.cm-section-carousel .cm-module-card-wrap {
  height: auto;
}
.cm-section-carousel .cm-module-card-wrap .cm-module-card {
  height: 100%;
}

.cm-primary-btn {
  --bs-btn-font-family: "Montserrat", sans-serif;
  --bs-btn-font-weight: 600;
  --bs-btn-color: #FFFFFF;
  --bs-btn-bg: #0D4348;
  --bs-btn-border-color: #0D4348;
  --bs-btn-hover-color: #FFFFFF;
  --bs-btn-hover-bg: #012F33;
  --bs-btn-hover-border-color: #012F33;
  --bs-btn-focus-shadow-rgb: transparent;
  --bs-btn-active-color: #FFFFFF;
  --bs-btn-active-bg: #012F33;
  --bs-btn-active-border-color: #012F33;
  --bs-btn-active-shadow: transparent;
  --bs-btn-disabled-color: #FFFFFF;
  --bs-btn-disabled-bg: #012F33;
  --bs-btn-disabled-border-color: #012F33;
}

.cm-hero-section {
  padding-top: 6rem;
  padding-bottom: 3rem;
}
.cm-hero-section .cm-section-caption .cm-section-header .cm-section-title {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: 900;
  color: #364A63;
  margin-bottom: 1.5rem;
}
.cm-hero-section .cm-section-caption .cm-section-header .cm-section-text {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  color: #8094AE;
  margin-bottom: 1.5rem;
  line-height: 1.75rem;
}
.cm-hero-section .cm-section-caption .cm-section-content .cm-fact-list {
  list-style: none;
  margin-bottom: 1.5rem;
  padding-left: 0;
  display: flex;
}
.cm-hero-section .cm-section-caption .cm-section-content .cm-fact-list .cm-fact-item {
  font-family: "Montserrat", sans-serif;
}
.cm-hero-section .cm-section-caption .cm-section-content .cm-fact-list .cm-fact-item + .cm-fact-item {
  margin-left: 3.5rem;
}
.cm-hero-section .cm-section-caption .cm-section-content .cm-fact-list .cm-fact-item .cm-fact-text {
  margin-bottom: 0;
}
.cm-hero-section .cm-section-caption .cm-section-content .cm-fact-list .cm-fact-item .cm-fact-text .cm-fact-number {
  font-size: 3rem;
  color: #0D4348;
  font-weight: 500;
  letter-spacing: -0.125rem;
}
.cm-hero-section .cm-section-caption .cm-section-content .cm-fact-list .cm-fact-item .cm-fact-text .cm-fact-title {
  font-size: 0.875rem;
  color: #8094AE;
}
.cm-hero-section .cm-section-caption .cm-section-content .cm-action-list {
  list-style: none;
  margin-bottom: 1.5rem;
  padding-left: 0;
}
.cm-hero-section .cm-section-caption .cm-section-content .cm-action-list .cm-action-item + .cm-action-item {
  margin-top: 1rem;
}
.cm-hero-section .cm-section-caption .cm-section-content .cm-action-list .cm-action-item:first-child .cm-action-btn {
  --bs-btn-padding-x: 4.5rem;
  --bs-btn-padding-y: 0.75rem;
  --bs-btn-font-family: "Montserrat", sans-serif;
  --bs-btn-font-weight: 600;
  --bs-btn-color: #FFFFFF;
  --bs-btn-bg: #0D4348;
  --bs-btn-border-color: #0D4348;
  --bs-btn-hover-color: #FFFFFF;
  --bs-btn-hover-bg: #012F33;
  --bs-btn-hover-border-color: #012F33;
  --bs-btn-focus-shadow-rgb: transparent;
  --bs-btn-active-color: #FFFFFF;
  --bs-btn-active-bg: #012F33;
  --bs-btn-active-border-color: #012F33;
  --bs-btn-active-shadow: transparent;
  --bs-btn-disabled-color: #FFFFFF;
  --bs-btn-disabled-bg: #012F33;
  --bs-btn-disabled-border-color: #012F33;
}
.cm-hero-section .cm-section-caption .cm-section-content .cm-action-list .cm-action-item:last-child .cm-action-btn {
  --bs-btn-padding-x: 4.5rem;
  --bs-btn-padding-y: 0.75rem;
  --bs-btn-font-family: "Montserrat", sans-serif;
  --bs-btn-color: #0D4348;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: #012F33;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-focus-shadow-rgb: transparent;
  --bs-btn-active-color: #012F33;
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: transparent;
  --bs-btn-disabled-color: #012F33;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: transparent;
  display: flex;
  align-items: center;
}
.cm-hero-section .cm-section-caption .cm-section-content .cm-action-list .cm-action-item:last-child .cm-action-btn .cm-action-icon {
  margin-right: 0.5rem;
  display: flex;
}
.cm-hero-section .cm-section-caption .cm-section-content .cm-section-partnership .cm-section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  color: #8094AE;
  margin-bottom: 1.5rem;
}
.cm-hero-section .cm-section-caption .cm-section-content .cm-section-partnership .cm-partnership-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}
.cm-hero-section .cm-section-caption .cm-section-content .cm-section-partnership .cm-partnership-list .cm-partnership-item {
  height: 40px;
}
.cm-hero-section .cm-section-caption .cm-section-content .cm-section-partnership .cm-partnership-list .cm-partnership-item + .cm-partnership-item {
  margin-left: 3.5rem;
}
.cm-hero-section .cm-section-caption .cm-section-content .cm-section-partnership .cm-partnership-list .cm-partnership-item .cm-partnership-brand {
  height: 100%;
}
.cm-hero-section .cm-play-card {
  background-color: #FFFFFF;
  box-shadow: 6px 12px 40px rgba(30, 48, 75, 0.08);
  border-radius: 1rem;
  padding: 1.375rem;
  display: inline-flex;
  position: relative;
}
.cm-hero-section .cm-play-card .cm-play-left {
  margin-right: 3.5rem;
}
.cm-hero-section .cm-play-card .cm-play-left .cm-play-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #364A63;
  margin-bottom: 0.25rem;
}
.cm-hero-section .cm-play-card .cm-play-left .cm-play-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  color: #8094AE;
  margin-bottom: 0;
}
.cm-hero-section .cm-play-card .cm-star-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  align-items: end;
}
.cm-hero-section .cm-play-card .cm-star-list .cm-star-item .cm-star-icon {
  color: #0D4348;
}
.cm-hero-section .cm-play-card .cm-play-btn {
  --bs-btn-color: #FFFFFF;
  --bs-btn-bg: #0D4348;
  --bs-btn-border-color: #0D4348;
  --bs-btn-hover-color: #FFFFFF;
  --bs-btn-hover-bg: #012F33;
  --bs-btn-hover-border-color: #012F33;
  --bs-btn-focus-shadow-rgb: transparent;
  --bs-btn-active-color: #FFFFFF;
  --bs-btn-active-bg: #012F33;
  --bs-btn-active-border-color: #012F33;
  --bs-btn-active-shadow: transparent;
  --bs-btn-disabled-color: #FFFFFF;
  --bs-btn-disabled-bg: #012F33;
  --bs-btn-disabled-border-color: #012F33;
  position: absolute;
  top: -36px;
  right: -36px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.cm-hero-section .cm-play-card .cm-play-btn i {
  display: flex;
  font-size: 1.5rem;
  color: #E6F1F2;
  line-height: 1.5rem;
}
.cm-hero-section .cm-play-card .cm-play-btn::after {
  content: "";
  position: absolute;
  width: 140%;
  height: 140%;
  border: 1px solid #286D73;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .cm-hero-section .cm-section-caption .cm-section-header .cm-section-title {
    font-size: 4rem;
  }
  .cm-hero-section .cm-section-caption .cm-section-content .cm-action-list {
    display: flex;
  }
  .cm-hero-section .cm-section-caption .cm-section-content .cm-action-list .cm-action-item + .cm-action-item {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .cm-hero-section {
    background-position: center;
    background-image: url("../../assets/img/f.jpg");
    background-size: cover;
  }
}
.cm-section-header .cm-section-title {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #364A63;
}
.cm-section-header .cm-section-text {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  color: #8094AE;
  line-height: 1.75rem;
}

.cm-reasons-section {
  padding: 3rem 0;
}
.cm-reasons-section .cm-section-header {
  margin-bottom: 3.5rem;
}
.cm-reasons-section .cm-section-content .cm-reason-box .cm-reason-icon-wrap {
  height: 60px;
  width: 60px;
  border-radius: 0.75rem;
  margin-right: 1.5rem;
  background-color: #E6F1F2;
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
}
.cm-reasons-section .cm-section-content .cm-reason-box .cm-reason-icon-wrap .cm-reason-icon {
  font-size: 2rem;
  color: #0D4348;
  line-height: 2rem;
}
.cm-reasons-section .cm-section-content .cm-reason-box .cm-reason-title {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #364A63;
  margin-bottom: 1rem;
}
.cm-reasons-section .cm-section-content .cm-reason-box .cm-reason-desc {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  color: #8094AE;
  margin-bottom: 0;
  line-height: 1.75rem;
}

.cm-modules-section {
  padding: 3rem 0;
}
.cm-modules-section .cm-section-header {
  margin-bottom: 3.5rem;
}
.cm-modules-section .cm-section-content .cm-section-carousel-wrap .cm-module-card {
  background-color: #E6F1F2;
  border-radius: 1.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
.cm-modules-section .cm-section-content .cm-section-carousel-wrap .cm-module-card .cm-module-img {
  height: 216px;
  width: 100%;
  object-fit: cover;
  border-radius: 1.25rem;
  background-color: #FFFFFF;
  margin-bottom: 1rem;
  user-select: none;
}
.cm-modules-section .cm-section-content .cm-section-carousel-wrap .cm-module-card .cm-module-details {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
  padding: 0 0.625rem;
}
.cm-modules-section .cm-section-content .cm-section-carousel-wrap .cm-module-card .cm-module-details .cm-module-list-v1 {
  list-style: none;
  margin-bottom: 1rem;
  padding-left: 0;
  display: flex;
}
.cm-modules-section .cm-section-content .cm-section-carousel-wrap .cm-module-card .cm-module-details .cm-module-list-v1 .cm-module-item {
  display: flex;
}
.cm-modules-section .cm-section-content .cm-section-carousel-wrap .cm-module-card .cm-module-details .cm-module-list-v1 .cm-module-item + .cm-module-item {
  margin-left: 1rem;
}
.cm-modules-section .cm-section-content .cm-section-carousel-wrap .cm-module-card .cm-module-details .cm-module-list-v1 .cm-module-item i {
  font-size: 0.875rem;
  color: #364A63;
  margin-top: 0.125rem;
  margin-right: 0.375rem;
}
.cm-modules-section .cm-section-content .cm-section-carousel-wrap .cm-module-card .cm-module-details .cm-module-list-v1 .cm-module-item p {
  font-size: 0.875rem;
  font-weight: 500;
  color: #364A63;
  margin-bottom: 0;
}
.cm-modules-section .cm-section-content .cm-section-carousel-wrap .cm-module-card .cm-module-details .cm-module-title {
  font-size: 1rem;
  font-weight: 700;
  color: #364A63;
  margin-bottom: 1rem;
}
.cm-modules-section .cm-section-content .cm-section-carousel-wrap .cm-module-card .cm-module-details .cm-module-list-v2 {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.cm-modules-section .cm-section-content .cm-section-carousel-wrap .cm-module-card .cm-module-details .cm-module-list-v2 .cm-module-item {
  font-size: 0.875rem;
  color: #8094AE;
}
.cm-modules-section .cm-section-content .cm-section-carousel-wrap .cm-module-card .cm-module-details .cm-module-list-v2 .cm-module-item + .cm-module-item {
  margin-top: 0.25rem;
}
.cm-modules-section .cm-section-content .cm-section-carousel-wrap .cm-module-card .cm-module-details .cm-module-list-v2 .cm-module-item p {
  margin-bottom: 0;
}
.cm-modules-section .cm-section-content .cm-section-carousel-wrap .cm-module-card .cm-module-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.625rem;
  margin-top: auto;
  margin-bottom: 0.625rem;
}
.cm-modules-section .cm-section-content .cm-section-carousel-wrap .cm-module-card .cm-module-bottom .cm-module-price {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.125rem;
  color: #286D73;
  margin-bottom: 0;
}
.cm-modules-section .cm-section-content .cm-section-carousel-wrap .cm-module-card .cm-module-bottom .cm-module-btn {
  --bs-btn-padding-x: 0;
  --bs-btn-padding-y: 0;
  --bs-btn-color: #364A63;
  --bs-btn-bg: #FFFFFF;
  --bs-btn-border-color: #FFFFFF;
  --bs-btn-hover-color: #012F33;
  --bs-btn-hover-bg: #FFFFFF;
  --bs-btn-hover-border-color: #FFFFFF;
  --bs-btn-focus-shadow-rgb: transparent;
  --bs-btn-active-color: #012F33;
  --bs-btn-active-bg: #FFFFFF;
  --bs-btn-active-border-color: #FFFFFF;
  --bs-btn-active-shadow: transparent;
  --bs-btn-disabled-color: #364A63;
  --bs-btn-disabled-bg: #FFFFFF;
  --bs-btn-disabled-border-color: #FFFFFF;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
}
.cm-modules-section .cm-section-content .cm-section-carousel-wrap .cm-module-card .cm-module-bottom .cm-module-btn i {
  font-size: 1.5rem;
  line-height: 1rem;
}
.cm-modules-section .cm-section-content .cm-section-carousel-wrap .cm-module-card.is-dark {
  background-color: #0D4348;
}
.cm-modules-section .cm-section-content .cm-section-carousel-wrap .cm-module-card.is-dark .cm-module-img {
  background-color: #FFFFFF;
}
.cm-modules-section .cm-section-content .cm-section-carousel-wrap .cm-module-card.is-dark .cm-module-details .cm-module-list-v1 .cm-module-item i {
  color: #E6F1F2;
}
.cm-modules-section .cm-section-content .cm-section-carousel-wrap .cm-module-card.is-dark .cm-module-details .cm-module-list-v1 .cm-module-item p {
  color: #E6F1F2;
}
.cm-modules-section .cm-section-content .cm-section-carousel-wrap .cm-module-card.is-dark .cm-module-details .cm-module-title {
  color: #FFFFFF;
}
.cm-modules-section .cm-section-content .cm-section-carousel-wrap .cm-module-card.is-dark .cm-module-details .cm-module-list-v2 .cm-module-item {
  color: #88C2C8;
}
.cm-modules-section .cm-section-content .cm-section-carousel-wrap .cm-module-card.is-dark .cm-module-bottom .cm-module-price {
  color: #E6F1F2;
}

.cm-faq-section {
  padding: 3rem 0;
}
.cm-faq-section .cm-section-header {
  margin-bottom: 1rem;
}
.cm-faq-section .cm-section-caption .cm-faq-accordion {
  --bs-accordion-color: #8094AE;
  --bs-accordion-border-radius: 0;
  --bs-accordion-inner-border-radius: 0;
  --bs-accordion-btn-padding-x: 0;
  --bs-accordion-btn-padding-y: 1.5rem;
  --bs-accordion-btn-color: #364A63;
  --bs-accordion-btn-icon: url("../../../assets/img/icons/plus-small.svg");
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-active-icon: url("../../../assets/img/icons/minus-circle.svg");
  --bs-accordion-body-padding-x: 1.5rem 0;
  --bs-accordion-body-padding-y: 0 0;
  --bs-accordion-active-color: #0D4348;
  --bs-accordion-active-bg: var(--bs-body-bg);
}
.cm-faq-section .cm-section-caption .cm-faq-accordion .accordion-item {
  border: none;
  border-bottom: 1px solid #E6F1F2;
}
.cm-faq-section .cm-section-caption .cm-faq-accordion .accordion-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.cm-faq-section .cm-section-caption .cm-faq-accordion .accordion-button:focus {
  box-shadow: none;
}
.cm-faq-section .cm-section-caption .cm-faq-accordion .accordion-button:not(.collapsed) {
  box-shadow: none;
}
.cm-faq-section .cm-section-caption .cm-faq-accordion .accordion-body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  line-height: 1.75rem;
}

.cm-cta-section .cm-section-content .cm-section-caption {
  padding: 2rem;
  background-color: #0D4348;
  border-radius: 1.25rem;
  box-shadow: 6px 12px 40px rgba(30, 48, 75, 0.08);
}
.cm-cta-section .cm-section-content .cm-section-caption .cm-section-text {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 2.5rem;
}
.cm-cta-section .cm-section-content .cm-section-caption .cm-section-input {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1.5rem;
  border: none;
}
.cm-cta-section .cm-section-content .cm-section-caption .cm-section-input:focus {
  box-shadow: none;
}
.cm-cta-section .cm-section-content .cm-section-caption .cm-section-btn {
  --bs-btn-padding-x: 4.5rem;
  --bs-btn-padding-y: 0.75rem;
  --bs-btn-font-family: "Montserrat", sans-serif;
  --bs-btn-font-weight: 600;
  --bs-btn-color: #012F33;
  --bs-btn-bg: #88C2C8;
  --bs-btn-border-color: #88C2C8;
  --bs-btn-hover-color: #012F33;
  --bs-btn-hover-bg: #51979D;
  --bs-btn-hover-border-color: #51979D;
  --bs-btn-focus-shadow-rgb: transparent;
  --bs-btn-active-color: #012F33;
  --bs-btn-active-bg: #51979D;
  --bs-btn-active-border-color: #51979D;
  --bs-btn-active-shadow: transparent;
  --bs-btn-disabled-color: #012F33;
  --bs-btn-disabled-bg: #51979D;
  --bs-btn-disabled-border-color: #51979D;
}

@media (min-width: 992px) {
  .cm-cta-section {
    padding: 3rem 0 6rem 0;
  }
  .cm-cta-section .cm-section-content {
    background-color: #E6F1F2;
    border-radius: 1.5rem;
  }
  .cm-cta-section .cm-section-content .cm-section-img {
    max-width: 100%;
    margin-top: -3rem;
    padding-left: 3rem;
  }
  .cm-cta-section .cm-section-content .cm-section-caption-wrap {
    position: relative;
  }
  .cm-cta-section .cm-section-content .cm-section-caption {
    width: calc(100% - 6rem);
    position: absolute;
    bottom: -3rem;
  }
}
@media (min-width: 1200px) {
  .cm-cta-section .cm-section-content .cm-section-img {
    margin-top: -6rem;
  }
}
@media (min-width: 1400px) {
  .cm-cta-section .cm-section-content .cm-section-img {
    margin-top: -9rem;
  }
}
.cm-global-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 0;
}
.cm-global-header .cm-header-content {
  display: flex;
  justify-content: space-between;
}
.cm-global-header .cm-header-content .cm-header-brand .cm-header-link {
  text-decoration: none;
}
.cm-global-header .cm-header-content .cm-header-brand .cm-header-link .cm-header-text {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  color: #364A63;
  font-size: 1.5rem;
  text-decoration: none;
  margin-bottom: 0;
}
.cm-global-header .cm-header-content .cm-header-nav-toggle-btn {
  --bs-btn-color: #FFFFFF;
  --bs-btn-bg: #0D4348;
  --bs-btn-border-color: #0D4348;
  --bs-btn-hover-color: #FFFFFF;
  --bs-btn-hover-bg: #012F33;
  --bs-btn-hover-border-color: #012F33;
  --bs-btn-focus-shadow-rgb: transparent;
  --bs-btn-active-color: #FFFFFF;
  --bs-btn-active-bg: #012F33;
  --bs-btn-active-border-color: #012F33;
  --bs-btn-active-shadow: transparent;
  --bs-btn-disabled-color: #FFFFFF;
  --bs-btn-disabled-bg: #012F33;
  --bs-btn-disabled-border-color: #012F33;
}
.cm-global-header .cm-header-content .cm-header-nav-toggle-btn i {
  display: flex;
}
.cm-global-header .cm-header-content .btn-close:focus {
  --bs-btn-close-focus-shadow: none;
}
.cm-global-header .cm-header-content .cm-header-nav .cm-nav-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.cm-global-header .cm-header-content .cm-header-nav .cm-nav-list .cm-nav-item + .cm-nav-item {
  margin-top: 1rem;
}
.cm-global-header .cm-header-content .cm-header-nav .cm-nav-list .cm-nav-item .cm-nav-link {
  font-size: 0.9375rem;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #526484;
}
.cm-global-header .cm-header-content .cm-header-nav .cm-nav-list .cm-nav-item .cm-nav-link:hover {
  color: #286D73;
}
.cm-global-header .cm-header-content .cm-header-nav .cm-nav-list .cm-nav-item .cm-nav-btn {
  --bs-btn-font-family: "Montserrat", sans-serif;
  --bs-btn-color: #FFFFFF;
  --bs-btn-bg: #0D4348;
  --bs-btn-border-color: #0D4348;
  --bs-btn-hover-color: #FFFFFF;
  --bs-btn-hover-bg: #012F33;
  --bs-btn-hover-border-color: #012F33;
  --bs-btn-focus-shadow-rgb: transparent;
  --bs-btn-active-color: #FFFFFF;
  --bs-btn-active-bg: #012F33;
  --bs-btn-active-border-color: #012F33;
  --bs-btn-active-shadow: transparent;
  --bs-btn-disabled-color: #FFFFFF;
  --bs-btn-disabled-bg: #012F33;
  --bs-btn-disabled-border-color: #012F33;
}

@media (min-width: 992px) {
  .cm-global-header .cm-header-content .cm-header-nav .cm-nav-list {
    display: flex;
    align-items: center;
  }
  .cm-global-header .cm-header-content .cm-header-nav .cm-nav-list .cm-nav-item + .cm-nav-item {
    margin-left: 2rem;
    margin-top: 0;
  }
}
.cm-global-footer {
  padding: 3rem 0;
}
.cm-global-footer .cm-footer-panel {
  font-family: "Montserrat", sans-serif;
}
.cm-global-footer .cm-footer-panel .cm-panel-link {
  display: block;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  color: #364A63;
  font-size: 1.5rem;
  text-decoration: none;
  margin-bottom: 1rem;
}
.cm-global-footer .cm-footer-panel .cm-panel-desc {
  font-size: 0.875rem;
  color: #8094AE;
  margin-bottom: 1rem;
}
.cm-global-footer .cm-footer-panel .cm-contact-list {
  list-style: none;
  margin-bottom: 1rem;
  padding-left: 0;
}
.cm-global-footer .cm-footer-panel .cm-contact-list .cm-contact-item {
  display: flex;
}
.cm-global-footer .cm-footer-panel .cm-contact-list .cm-contact-item + .cm-contact-item {
  margin-top: 0.5rem;
}
.cm-global-footer .cm-footer-panel .cm-contact-list .cm-contact-item .cm-contact-icon-wrap {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}
.cm-global-footer .cm-footer-panel .cm-contact-list .cm-contact-item .cm-contact-icon-wrap .cm-contact-icon {
  color: #0D4348;
  display: flex;
}
.cm-global-footer .cm-footer-panel .cm-contact-list .cm-contact-item .cm-contact-text {
  font-size: 0.875rem;
  margin-bottom: 0;
}
.cm-global-footer .cm-footer-panel .cm-social-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}
.cm-global-footer .cm-footer-panel .cm-social-list .cm-social-item + .cm-social-item {
  margin-left: 1.25rem;
}
.cm-global-footer .cm-footer-panel .cm-social-list .cm-social-item .cm-social-link {
  text-decoration: none;
  color: #0D4348;
}
.cm-global-footer .cm-footer-panel .cm-social-list .cm-social-item .cm-social-link:hover {
  color: #012F33;
}
.cm-global-footer .cm-menu-box {
  font-family: "Montserrat", sans-serif;
}
.cm-global-footer .cm-menu-box .cm-menu-title {
  color: #364A63;
  margin-bottom: 1rem;
}
.cm-global-footer .cm-menu-box .cm-menu-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.cm-global-footer .cm-menu-box .cm-menu-list .cm-menu-item + .cm-menu-item {
  margin-top: 0.5rem;
}
.cm-global-footer .cm-menu-box .cm-menu-list .cm-menu-item .cm-menu-link {
  font-size: 0.875rem;
  color: #526484;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.cm-global-footer .cm-menu-box .cm-menu-list .cm-menu-item .cm-menu-link:hover {
  color: #286D73;
}
.cm-global-footer .cm-subscribe-box {
  font-family: "Montserrat", sans-serif;
}
.cm-global-footer .cm-subscribe-box .cm-subscribe-title {
  color: #364A63;
  margin-bottom: 1rem;
}
.cm-global-footer .cm-subscribe-box .cm-subscribe-desc {
  color: #8094AE;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}
.cm-global-footer .cm-subscribe-box .cm-subscribe-input {
  border: 1px solid #DBDFEA;
}
.cm-global-footer .cm-subscribe-box .cm-subscribe-input:focus {
  box-shadow: none;
}
.cm-global-footer .cm-subscribe-box .cm-subscribe-btn {
  --bs-btn-color: #FFFFFF;
  --bs-btn-bg: #0D4348;
  --bs-btn-border-color: #0D4348;
  --bs-btn-hover-color: #FFFFFF;
  --bs-btn-hover-bg: #012F33;
  --bs-btn-hover-border-color: #012F33;
  --bs-btn-focus-shadow-rgb: transparent;
  --bs-btn-active-color: #FFFFFF;
  --bs-btn-active-bg: #012F33;
  --bs-btn-active-border-color: #012F33;
  --bs-btn-active-shadow: transparent;
  --bs-btn-disabled-color: #FFFFFF;
  --bs-btn-disabled-bg: #012F33;
  --bs-btn-disabled-border-color: #012F33;
}
.cm-global-footer .cm-subscribe-box .cm-subscribe-btn .cm-subscribe-icon {
  display: flex;
}
.cm-global-footer .cm-footer-bottom {
  border-top: 1px solid #DBDFEA;
  padding-top: 20px;
  margin-top: 20px;
}
.cm-global-footer .cm-footer-bottom .cm-footer-text {
  font-family: "Montserrat", sans-serif;
  color: #364A63;
  text-align: center;
  margin-bottom: 0;
}
.cm-global-footer .cm-footer-bottom .cm-footer-text .cm-footer-link {
  color: #51979D;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.cm-global-footer .cm-footer-bottom .cm-footer-text .cm-footer-link:hover {
  color: #286D73;
}/*# sourceMappingURL=main.css.map */