.cm-primary-btn {
  // --bs-btn-padding-x: 4.5rem;
  // --bs-btn-padding-y: 0.75rem;
  --bs-btn-font-family: "Montserrat", sans-serif;
  --bs-btn-font-weight: 600;
  --bs-btn-color: #FFFFFF;
  --bs-btn-bg: #0D4348;
  --bs-btn-border-color: #0D4348;
  --bs-btn-hover-color: #FFFFFF;
  --bs-btn-hover-bg: #012F33;
  --bs-btn-hover-border-color: #012F33;
  --bs-btn-focus-shadow-rgb: transparent;
  --bs-btn-active-color: #FFFFFF;
  --bs-btn-active-bg: #012F33;
  --bs-btn-active-border-color: #012F33;
  --bs-btn-active-shadow: transparent;
  --bs-btn-disabled-color: #FFFFFF;
  --bs-btn-disabled-bg: #012F33;
  --bs-btn-disabled-border-color: #012F33;
}